<h1>Course List {{courses.length}}</h1>

<input [(ngModel)]="newCourseTitle"/>
<button (click)="createCourse(newCourseTitle)">
  Create New Course
</button>

<h3>{{newCourseTitle}}</h3>

<ul class="list-group">


  <li key="course._id" (click)="selectCourse(course._id)"
      class="list-group-item"
      [ngClass]="{'active': course._id === selectedCourseId}"
      *ngFor="let course of courses">
    {{course.title}}
    <button (click)="deleteCourse(course)">
      Delete
    </button>
  </li>
</ul>


<h1>{{newCourseTitle}}</h1>
